In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
from datasets import Dataset
import json
import pandas as pd

Mounted at /content/drive

In [4]:
df = pd.read_csv('drive/MyDrive/Colab Notebooks/Cathys_test_IZ/dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unique id                85907 non-null  object
 1   channel_name             85907 non-null  object
 2   category                 85907 non-null  object
 3   Sub-category             85907 non-null  object
 4   Customer Remarks         28742 non-null  object
 5   Order_id                 67675 non-null  object
 6   order_date_time          17214 non-null  object
 7   Issue_reported at        85907 non-null  object
 8   issue_responded          85907 non-null  object
 9   Survey_response_Date     85907 non-null  object
 10  Customer_City            17079 non-null  object
 11  Product_category         17196 non-null  object
 12  Item_price               17206 non-null  float64
 13  connected_handling_time  242 non-null    float64
 14  Agent_name               85907 non-null  object
 15  Supervisor               85907 non-null  object
 16  Manager                  85907 non-null  object
 17  Tenure Bucket            85907 non-null  object
 18  Agent Shift              85907 non-null  object
 19  CSAT Score               85907 non-null  int64
dtypes: float64(2), int64(1), object(17)
memory usage: 13.1+ MB

In [6]:

# Format and Conversion
# Convert date columns to datetime, coercing errors
date_columns = ['order_date_time', 'Issue_reported at', 'issue_responded', 'Survey_response_Date']
for col in date_columns:
    df[col] = pd.to_datetime(df[col], format='%d/%m/%Y %H:%M', errors='coerce')

# Convert Item_price to numeric, coercing errors
df['Item_price'] = pd.to_numeric(df['Item_price'], errors='coerce')

display(df.head(2))

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaT,2023-08-01 11:13:00,2023-08-01 11:47:00,NaT,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaT,2023-08-01 12:52:00,2023-08-01 12:54:00,NaT,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5

In [8]:


average_csat = df['CSAT Score'].mean()

average_issue_resolution_time = (df['issue_responded'] - df['Issue_reported at']).mean()
average_handling_time = df['connected_handling_time'].mean()


# Analyze CSAT score distribution
csat_distribution = df['CSAT Score'].value_counts().sort_index(ascending=False)


csat_by_channel = df.groupby('channel_name')['CSAT Score'].mean().sort_values(ascending=False)
csat_by_category = df.groupby('category')['CSAT Score'].mean().sort_values(ascending=False)
csat_by_sub_category = df.groupby(['category', 'Sub-category'])['CSAT Score'].mean().sort_values(ascending=False)


csat_by_agent = df.groupby('Agent_name')['CSAT Score'].mean().sort_values(ascending=False)
csat_by_supervisor = df.groupby('Supervisor')['CSAT Score'].mean().sort_values(ascending=False)
csat_by_manager = df.groupby('Manager')['CSAT Score'].mean().sort_values(ascending=False)


csat_by_tenure = df.groupby('Tenure Bucket')['CSAT Score'].mean().sort_values(ascending=False)
csat_by_shift = df.groupby('Agent Shift')['CSAT Score'].mean().sort_values(ascending=False)

# print(f"2. Average Issue Resolution Time: {issue_resolution_time}")
# print(f"3. Average Handling Time: {average_handling_time:.2f} minutes")


display(f"--- Overall Average CSAT Score: {average_csat:.2f} ---") # Format to 2 decimal places

display(f"--- Average Issue Resolution Time: {average_issue_resolution_time} ---")

display(f"--- Average Handling Time: {average_handling_time:.2f} minutes ---")


display("\n--- CSAT Score Distribution ---")
display(csat_distribution)

display("\n--- CSAT by Channel ---")
display(csat_by_channel)

display("\n--- CSAT by Category ---")
display(csat_by_category)

display("\n--- CSAT by Sub-category ---")
display(csat_by_sub_category)

display("\n--- CSAT by Agent (top performing) ---")
display(csat_by_agent.head())

display("\n--- CSAT by Supervisor (top performing) ---")
display(csat_by_supervisor.head())

display("\n--- CSAT by Manager (top performing) ---")
display(csat_by_manager.head())

display("\n--- CSAT by Tenure Bucket ---")
display(csat_by_tenure)

display("\n--- CSAT by Agent Shift ---")
display(csat_by_shift)


# # Calculate key metrics
# average_csat = df['CSAT Score'].mean()
# csat_by_channel = df.groupby('channel_name')['CSAT Score'].mean()
# issue_resolution_time = (df['issue_responded'] - df['Issue_reported at']).mean()
# average_handling_time = df['connected_handling_time'].mean()
# csat_by_category = df.groupby('category')['CSAT Score'].mean()


# print("--- Key Performance Metrics ---")
# print(f"1. Overall Average CSAT Score: {average_csat:.2f}")
# print(f"2. Average Issue Resolution Time: {issue_resolution_time}")
# print(f"3. Average Handling Time: {average_handling_time:.2f} minutes")
# print(f"4. CSAT by Channel:\n{csat_by_channel}")
# print(f"5. CSAT by Category (Top 5):\n{csat_by_category.sort_values(ascending=False).head()}")

'--- Overall Average CSAT Score: 4.24 ---'

'--- Average Issue Resolution Time: 0 days 02:16:53.196596319 ---'

'--- Average Handling Time: 462.40 minutes ---'

'\n--- CSAT Score Distribution ---'

CSAT Score
5    59617
4    11219
3     2558
2     1283
1    11230
Name: count, dtype: int64

'\n--- CSAT by Channel ---'

channel_name
Outcall    4.269909
Inbound    4.251372
Email      3.899107
Name: CSAT Score, dtype: float64

'\n--- CSAT by Category ---'

category
App/website           4.404762
Payments related      4.354534
Returns               4.346350
Shopzilla Related     4.306948
Onboarding related    4.261538
Refund Related        4.226813
Offers & Cashback     4.210417
Feedback              4.158675
Order Related         4.096059
Product Queries       4.039816
Cancellation          3.990506
Others                3.434343
Name: CSAT Score, dtype: float64

'\n--- CSAT by Sub-category ---'

category            Sub-category
Others              Non Order related                   5.000000
Shopzilla Related   Signup Issues                       4.648262
Payments related    Payment pending                     4.647059
Offers & Cashback   Instant discount                    4.628205
Payments related    Billing Related                     4.614035
Returns             Missing                             4.613850
                    Return request                      4.613282
                    Fraudulent User                     4.594937
                    Damaged                             4.549474
Order Related       Customer Requested Modifications    4.535404
Returns             Wrong                               4.533308
                    Product related Issues              4.486339
Order Related       Invoice request                     4.453925
                    Priority delivery                   4.453704
Payments related    PayLater related                    4.442857
Cancellation        Return cancellation                 4.441781
Shopzilla Related   Shopzila Premium Related            4.437673
Payments related    Online Payment Issues               4.411492
App/website         Issues with Shopzilla App           4.405405
                    App/website Related                 4.400000
Onboarding related  Seller onboarding                   4.354839
Shopzilla Related   Shopzilla Rewards                   4.350000
Payments related    Wallet related                      4.330435
Refund Related      Refund Enquiry                      4.296811
Payments related    Payment related Queries             4.275908
Order Related       Unable to track                     4.268293
Product Queries     Life Insurance                      4.260870
Shopzilla Related   General Enquiry                     4.237671
Order Related       Order Verification                  4.236111
                    Order status enquiry                4.210344
Returns             Self-Help                           4.204082
Offers & Cashback   Other Cashback                      4.200913
Returns             Reverse Pickup Enquiry              4.189468
Feedback            UnProfessional Behaviour            4.158675
Refund Related      Refund Related Issues               4.136111
Returns             Service Centres Related             4.118400
                    Exchange / Replacement              4.071429
Order Related       General Enquiry                     4.047619
Product Queries     Product Specific Information        4.044023
Offers & Cashback   Affiliate Offers                    4.043716
Order Related       Delayed                             4.011505
Product Queries     Policy Related                      4.000000
Refund Related      COD Refund Details                  3.952941
Cancellation        Not Needed                          3.921875
Payments related    e-Gift Voucher                      3.904762
Order Related       Installation/demo                   3.883139
Shopzilla Related   Account updation                    3.820000
Returns             General Enquiry                     3.800000
Payments related    Card/EMI                            3.789474
Product Queries     Warranty related                    3.782051
Others              Others                              3.666667
Shopzilla Related   Other Account Related Issues        3.636364
Order Related       Seller Cancelled Order              3.584514
Others              Call back request                   3.521739
Returns             Technician Visit                    3.489418
Others              Call disconnected                   3.225000
Returns             Service Center - Service Denial     3.224138
Shopzilla Related   Unable to Login                     2.428571
Onboarding related  Commission related                  2.333333
Name: CSAT Score, dtype: float64

'\n--- CSAT by Agent ---'

Agent_name
Pamela Robinson    4.956522
Virginia Lane      4.909910
Sean Gay           4.909091
Taylor Nelson      4.888889
Nancy Singh        4.868421
Name: CSAT Score, dtype: float64

'\n--- CSAT by Supervisor ---'

Supervisor
Landon Tanaka       4.423242
Elijah Yamaguchi    4.397925
Isabella Wong       4.372803
William Park        4.364413
Sophia Sato         4.362657
Name: CSAT Score, dtype: float64

'\n--- CSAT by Manager ---'

Manager
Emily Chen         4.379107
John Smith         4.270694
Michael Lee        4.259602
Jennifer Nguyen    4.158583
William Kim        4.121032
Name: CSAT Score, dtype: float64

'\n--- CSAT by Tenure Bucket ---'

Tenure Bucket
61-90              4.346536
31-60              4.296185
>90                4.273190
0-30               4.258791
On Job Training    4.145242
Name: CSAT Score, dtype: float64

'\n--- CSAT by Agent Shift ---'

Agent Shift
Split        4.427357
Afternoon    4.292295
Night        4.288754
Evening      4.276361
Morning      4.189495
Name: CSAT Score, dtype: float64

In [ ]:
%%html
<iframe src="https://csat-analytics-bi.streamlit.app/" width="800" height="600"></iframe>